#header {
    font-size: 50px;
    font-weight: bolder;
    font-family: fantasy;
    color: tomato;
    background-color: black;
    text-align: center;
}
#mrbean {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bpc {
    background-color: orange;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#esm {
    background-color: greenyellow;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#stm {
    background-color: yellow;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
